.list-group
  %a.list-group-item{href: "#"}
    About
    %i{:class => 'pull-right fa fa-user'}
  %a.list-group-item.active{href: "#"}
    Comments
    %i{:class => 'pull-right fa fa-comment'}
  %a.list-group-item{href: "#"}
    Submissions
    %i{:class => 'pull-right fa fa-copy'}
  %a.list-group-item{href: "#"} Porta ac consectetur ac
  %a.list-group-item{href: "#"} Vestibulum at eros